
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import url("observablehq:default.css");
@import url("observablehq:theme-air.css");

:root {
    --sans-serif: "IBM Plex Sans", sans-serif;
}

/*<weight>: Use a value from 100 to 700*/


svg#graph {
    width: 100%;
}


body {
    font-family: var(--sans-serif);
    font-optical-sizing: auto;
    font-weight:  400;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    
}

label {
    --label-width: 190px !important;
    font: 16px/1.3 var(--sans-serif) !important;

}


aside.sidenote {
    float: right;
    clear: right;
    margin-top: 0.3rem;
    margin-bottom: 0;
    position: relative;
}


dl {
    border-left: 1px solid;
    padding: 1rem 2rem;
    margin: 1rem 0;
    display: grid;
    grid-gap: 0px 18px;
    grid-template-columns:25% auto;
    max-width: 640px;
}

dt {
    font-weight: bold;
    margin: 3px;
    margin-bottom: 8px;
}
x
dd {
  margin: 3px;
  grid-column-start: 2;
  margin-bottom: 8px;

}

.note::before {
    content: "Noot"
}

.warning::before {
    content: "Waarschuwing"
}


.caution::before {
    content: "Let op"
}

dd span {
  color: var(--theme-red);
}    

.operator {

}

.derived_term {

}

@media print {

    #observablehq-toc {
	display: none !important;
    }

}
